<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-5.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-5.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.wwy.admin"/>

    <!--<util:constant static-field="org.springframework.session.data.redis.config.ConfigureRedisAction.NO_OP"/>-->

    <context:property-placeholder location="classpath:system.properties" ignore-unresolvable="true"/>

    <!--    <context:property-placeholder properties-ref="propertiesConfig" order="1" />-->
    <!--    -->
    <!--    <bean id="propertiesConfig" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
    <!--		<property name="location">-->
    <!--			<value>classpath*:system.properties</value>-->
    <!--		</property>-->
    <!--&lt;!&ndash;    	<property name="locations">&ndash;&gt;-->
    <!--&lt;!&ndash;    		<list>&ndash;&gt;-->
    <!--&lt;!&ndash;    			<value>classpath*:system.properties</value>&ndash;&gt;-->
    <!--&lt;!&ndash;    		</list>&ndash;&gt;-->
    <!--&lt;!&ndash;    	</property>&ndash;&gt;-->
    <!--    </bean>-->

    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>


</beans>